<!doctype html>
<html lang="sv">
<head>
    <title>14 dagars fall per 100000</title>
    <style>
        .table {
            display: grid;
            grid-auto-flow: row;
            grid-template-columns:max-content repeat(22, 1fr);
            grid-template-rows:repeat(416, 1fr)
        }

        .cell {
            font-family: sans-serif;
            color: white;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="table">
    <span>Statistikdatum</span>
    {% for region in fhm.cases.columns %}
        <span>{{ region }}</span>
    {% endfor %}
    {% for cellArray in fhm.cases.cells14 %}
        <span>{{ fhm.cases.rows[loop.index0] }}</span>
        {% for cell in cellArray %}
            <span class="cell" style={{ 'background-color:' + cell.bgcolor }}>{{ cell.value }}</span>
        {% endfor %}
    {% endfor %}
</div>
</body>
</html>
