<!doctype html>
<html lang="sv">
<head>
    <title>14 dagars fall per 100000</title>
    <style>
        td {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Statistikdatum</th>
        {% for region in fhm.cases.columns %}
            <th>{{ region }}</th>
        {% endfor %}
    </tr>
    {% for cellArray in fhm.cases.cells14 %}
        <tr>
            <th>{{ fhm.cases.rows[loop.index0] }}</th>
            {% for cell in cellArray %}
                <td bgcolor={{ cell.bgcolor }}>{{ cell.value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    <tr>
        <th>Statistikdatum</th>
        {% for region in fhm.cases.columns %}
            <th>{{ region }}</th>
        {% endfor %}
    </tr>
</table>
</body>
</html>
