html(lang="sv")
  head
    include includes/meta.pug
    title 14 dagars fall per 100000
    include includes/table-style.pug
  body
    .table
      span Statistikdatum
      each region in fhm.cases.columns
        span.region= region
      each cellArray, index in fhm.cases.cells14
        span= fhm.cases.rows[index]
        each cell in cellArray
          span.cell(style='background-color:' + cell.bgcolor)= Math.round(cell.value * 1e2) / 1e2
