<!doctype html>
<html lang="sv">
<head>
    <title>7 dagars rullande medelvärde per miljon</title>
    <style>
        .table {
            display: grid;
            grid-auto-flow: row;
            grid-template-columns:max-content repeat(22, 1fr);
        }

        .region {
            overflow: hidden;
        }

        .cell {
            font-family: sans-serif;
            color: white;
            overflow: hidden;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="table">
    <span>Statistikdatum</span>
        {% for region in fhm.cases.columns %}
        <span class="region">{{ region }}</span>
        {% endfor %}
    {% for cellArray in fhm.cases.cells7 %}
        <span>{{ fhm.cases.rows[loop.index0] }}</span>
            {% for cell in cellArray %}
            <span class="cell" style={{ 'background-color:' + cell.bgcolor }}>{{ cell.value | round }}</span>
    {% endfor %}
        {% endfor %}
</div>
</body>
</html>
