html(lang="sv")
  head
    include includes/meta.pug
    title 7 dagars rullande medelvärde per miljon
    include includes/table-style.pug
  body
    .table
      span Statistikdatum
      each region in fhm.cases.columns
        span.region= region
      each cellArray, index in fhm.cases.cells7
        span= fhm.cases.rows[index]
        each cell in cellArray
          span.cell(style='background-color:' + cell.bgcolor)= Math.round(cell.value)
