---
pagination:
    data: fhm.cases.charts
    size: 1
    alias: chart
permalink: "charts/{{ chart.region }}/"
---

<html lang="sv">
<head>
    <title>
        diagram över 7 dagars rullande medelvärde per miljon
    </title>
    <style>
        .chart {
            display: grid;
            grid-template-columns: max-content auto;
        }

        .chart .y-values {
            grid-column: 2;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-evenly;
            margin: 12px;
        }

        .chart svg {
            grid-column: 1;
            height: 600px;
            border: black 2px solid;
        }

        polyline {
            stroke-width: 3px;
            stroke: red;
        }

        .chart line {
            stroke: #bbb;
            stroke-width: 1;
        }
    </style>
</head>
<body>
<nav>
    {% for column in fhm.cases.columns %}
        <a href={{ ('/charts/' ~ column) | lower }}>{{ column }}</a>
    {% endfor %}
</nav>
<div class="chart">
    <svg viewBox="0 0 {{ chart.width }} {{ chart.height }}">
        {% for i in range(1, chart.max / 100) %}
            <line x1="0" y1={{ 100 * i * chart.height / chart.max }} x2={{ chart.width }}
                  y2={{ 100 * i * chart.height / chart.max }}></line>
        {% endfor %}
        <polyline fill="none" points={{ chart.points }}/>
    </svg>
    <div class="y-values">
        {% for i in range(1, chart.max / 100) %}
            <div class="y-value">
                {{ i * 100 }}
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>
