<!doctype html>
<html lang="sv">
<head><title>Page title</title></head>
<body>
<table>
    <tr>
        <th>Statistikdatum</th>
        {% for region in fhm.cases.columns %}
            <th>{{ region }}</th>
        {% endfor %}
    </tr>
    {% for value in fhm.cases.values %}
        <tr>
            <th>{{ fhm.cases.rows[loop.index0] }}</th>
            {% for v in value %}
                <td>{{ v }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
</html>
