<!doctype html>
<html lang="sv">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>fhm-eleventy</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Hem</a></li>
        <li><a href="/7">7 dagars rullande medelvärde per miljon</a></li>
        <li><a href="/14">14 dagars fall per 100000</a></li>
        <li><a href="/change">senaste 7 dagarna jämfört med de 7 föregående</a></li>
        <li><a href="/deaths">dödsfall</a></li>
        <li><a href="/map">karta</a></li>
        <li><a href="/chart">diagram</a></li>
    </ul>
</nav>
</body>
</html>
