<!doctype html>
<html lang="sv">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>fhm-eleventy</title>
    <style>
        td {
            color: white;
        }
    </style>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Hem</a></li>
        <li><a href="/7">7 dagars rullande medelvärde per miljon</a></li>
        <li><a href="/14">14 dagars fall per 100000</a></li>
        <li><a href="/change">senaste 7 dagarna jämfört med de 7 föregående</a></li>
        <li><a href="/map">karta</a></li>
        <li><a href="/charts/totalt_antal_fall">diagram över 7 dagars rullande medelvärde per miljon</a></li>
    </ul>
</nav>
<table>
    <tr>
        <th>Region</th>
        <th>14</th>
        <th>7</th>
        <th>%</th>
    </tr>
    {% for row in fhm.cases.latest.rows %}
        <tr>
            <th>{{ row.regionName }}</th>
            <td style={{ 'background-color:' + row.bgcolor }}>{{ row.value | round }}</td>
            <td style={{ 'background-color:' + row.entry7.bgcolor }}>{{ row.entry7.value | round }}</td>
            <td style={{ 'background-color:' + row.entryDiff.bgcolor }}>{{ row.entryDiff.value | round }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
