<html lang="sv">
<head>
    <title>karta</title>
    <style>
        .map {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<div class="map">
    <svg viewBox="10 0 15 15">
        {% for region in fhm.cases.map %}
            <polygon
                    points={{ region.points }}
                    fill={{ region.bgcolor }}
            ></polygon>
            <text
                    x={{ region.center.x }}
                    y={{ region.center.y + 0.2 }}
                    font-size="0.5"
                    text-anchor="middle"
            >
                {{ region.value | round }}
            </text>
        {% endfor %}
    </svg>
</div>
</body>
</html>
