{% from "includes/map.njk" import map %}
<html lang="sv">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>karta</title>
  <style>
    {% include "includes/map.css" %}
  </style>
</head>
</html>
<body>
<div class="container">
  <a href="/">Hem</a>
  <a href="/map14">14</a>
  <a href="/map7">7</a>
  <a href="/map-change">förändring</a>
  {{ map(fhm.cases.map7) }}
</div>
</body>
