body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: max-content auto;
}

.container > a {
  justify-self: center;
  font-family: sans-serif;
  font-size: 6vw;
}

.map {
  grid-column: 1 / 5;
  justify-self: center;
}

.map > svg {
  font-family: sans-serif;
  height: 100%;
}
